*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
img{
    height: 100px;
    width: 100px;
}
.choice{
     height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
   
}
.choice:hover{
    cursor: pointer;
   opacity: 0.5;
   
}
.choices{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 3rem;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 3rem;
}
#user-score,#comp-score{
    font-size: 5rem;

}
.msg-container{
margin-top: 4rem;
}
#msg{
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    font-size:2rem ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}